/lab-0/random-cat-mini-app/build/assets/index-B4uDuzeT.js
/lab-0/random-cat-mini-app/build/assets/index-BeC_hX99.css
/lab-0/random-cat-mini-app/build/assets/index-legacy-BD9pdRoX.js
/lab-0/random-cat-mini-app/build/assets/polyfills-legacy-DtMn0-1u.js
/lab-0/random-cat-mini-app/build/index.html
/lab-0/random-cat-mini-app/build/logo.svg
